@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<hr />
<h3>@ViewBag.Message</h3>

<address>
    1A Tudor Crescent Rd<br />
    Hainault, London, UK<br />
    <hr />
    phone: 07447 481 028<br />
    email: mugurel.budara@gmail.com<br />
</address>